<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head data-hook="inside_head">
        <%= render partial: 'spree/shared/head' %>
    </head>

    <body data-turbolinks="false">
        <!-- site -->
        <div class="site">
            <%= render partial: 'spree/shared/mobile_header' %>
            <%= render partial: 'spree/shared/header' %>
            <!-- site__body -->
            <div id="overlay" class="overlay hide-on-esc"></div>

            <div data-hook>
            <main id="content" data-hook>
                <%= flash_messages %>
                <%= yield %>
            </main>

            <%= yield :templates %>
            </div>
            <!-- site__body / end -->
            <!-- site__footer -->
            <%= render partial: 'spree/shared/footer' %>
            <%= render 'spree/shared/translations' %>
            <!-- site__footer / end -->
        </div>
        <!-- site / end -->
        <!-- quickview-modal -->
        <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content"></div>
            </div>
        </div>
        <!-- quickview-modal / end -->
        <!-- mobilemenu -->
        <%= render partial: 'spree/shared/mobilemenu' %>
        <!-- mobilemenu / end -->
        <!-- photoswipe -->
        <%= render partial: 'spree/shared/photoswipe' %>
        <!-- photoswipe / end -->
        <!-- js -->

        <script>
        setTimeout(() => {
             svg4everybody();
        }, 1500);
           
        </script>
    </body>

</html>