<%# leaving #spree-header div for legacy support  %>
<% cache spree_nav_cache_key('header') do %>
  <div class="wrapper-full banners-effect-8" data-turbolinks-permanent>
    <header id="header" class=" variant typeheader-9">
      <div class="header-top hidden-compact">	
        <div class="container-fluid">
          <div class="row">
            <div class="header-top-left col-lg-3 col-md-4 col-sm-5 hidden-xs">                
              <div class="telephone ">
                <ul class="socials">
                  <li class="facebook"><a href="https://www.facebook.com/smartaddons.page" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li class="google_plus"><a href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li class="pinterest"><a href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>              
                  <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                </ul>
              </div>
            </div>
            <div class="header-top-right col-lg-9 col-md-8 col-sm-7 col-xs-12">
              <ul class="top-log list-inline" style="display: inline-flex;">                    
                <li><i class="fa fa-lock"></i><a href="http://opencart.opencartworks.com/themes/so_monota/layout9/index.php?route=account/login">Login</a>  /</li><li><a href="http://opencart.opencartworks.com/themes/so_monota/layout9/index.php?route=account/register">Register</a></li>                        
              </ul>
              <ul class="top-link list-inline lang-curr">
                <li class="language">
                  <div class="pull-left">
                    <form action="http://opencart.opencartworks.com/themes/so_monota/layout9/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="form-language">
                      <div class="btn-group">
                            <button class="btn-link dropdown-toggle" data-toggle="dropdown">
                                                
                              <img class="lazyautosizes lazyloaded" data-sizes="auto" src="./assets/en-gb.png"  alt="English" title="English" sizes="16px">
                              <span class="hidden-xs hidden-sm hidden-md">English</span>
                                          <i class="fa fa-angle-down"></i>
                            </button>
                        
                            <ul class="dropdown-menu">
                              <li>
                                  <button class="btn-block language-select" type="button" name="ar-ar">
                                  <img class="lazyautosizes lazyloaded" data-sizes="auto" src="./assets/ar-ar.png" alt="Arabic" title="Arabic" sizes="1px"> Arabic</button>
                              </li>
                              <li>
                                  <button class="btn-block language-select" type="button" name="en-gb">
                                  <img class="lazyautosizes lazyloaded" data-sizes="auto" src="./assets/en-gb.png" alt="English" title="English" sizes="16px"> English</button>
                              </li>
                            </ul>
                        </div>
                      <input type="hidden" name="code" value="">
                      <input type="hidden" name="redirect" value="http://opencart.opencartworks.com/themes/so_monota/layout9/index.php?route=common/home">
                   </form>
                  </div>
                 </li>			
                <li class="currency"> 
                  <div class="pull-left">
                    <form action="http://opencart.opencartworks.com/themes/so_monota/layout9/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                                <div class="btn-group">
                                  <button class="btn-link dropdown-toggle" data-toggle="dropdown">
                                        
                                          
                                        
                                    $ US Dollar 
                                    
                                      &nbsp;<i class="fa fa-angle-down"></i>	  
                              </button>
                                  <ul class="dropdown-menu">
                                                    <li>
                                      <button class="currency-select btn-block" type="button" name="EUR">€ Euro</button>
                                    </li>
                                                            <li>
                                      <button class="currency-select btn-block" type="button" name="GBP">£ Pound Sterling</button>
                                    </li>
                                                            <li>
                                      <button class="currency-select btn-block" type="button" name="USD">$ US Dollar</button>
                                    </li>
                                                  </ul>
                                </div>
                                <input type="hidden" name="code" value="">
                                <input type="hidden" name="redirect" value="http://opencart.opencartworks.com/themes/so_monota/layout9/index.php?route=common/home">
                    </form>
                  </div>
                </li> 						
              </ul>
              
            </div>
          </div>
        </div>		
	    </div>
      <div class="header-middle">
        <div class="container-fluid">
          <div class="row">
             <!--
            <button class="navbar-toggler border-0 px-0 d-flex" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="<%= Spree.t('nav_bar.show_menu') %>">
              <%= icon(name: 'burger',
                      width: 18.5,
                      height: 16)  %>
            </button>
            -->
          <div class="col-lg-3 col-md-12 col-sm-3 col-xs-5 middle-left">
            <div class="logo">
              <%= logo %>
            </div>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-9 col-xs-7 middle-right">
            <div class="menu-vertical-w" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="<%= Spree.t('nav_bar.show_menu') %>">
              <%= icon(name: 'burger',
                      width: 18.5,
                      height: 16)  %>
            </div>
            <%= render partial: 'spree/shared/main_nav_bar' %>
            <div class="search-header-w">
              <div class="ico-search">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
            <div class="search-header-w">
              <div class="ico-search">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="search-header-w">
              <div class="ico-search">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
          <!--
          <div id="top-nav-bar" class="flex-grow-1 header-spree-fluid-secondary-navigation">
            <%= render partial: 'spree/shared/nav_bar' %>
          </div>
               <%= render partial: 'spree/shared/mobile_navigation' %>
          -->
     
          </div>

        </div>
      </div>
    </header>
  </div>
<% end %>
