<%
    layout = 'grid'
    grid = 'grid-5-full'
    limit = 16
    offcanvas = :always
    classes = {'always': 'view-options--offcanvas--always', 'mobile': 'view-options--offcanvas--mobile'}
%>



<div class="products-view">
    <div class="products-view__options">
        <div class="view-options <% classes %>">
            <% if @products.present? %>
                <div class="view-options__filters-button" style="display: none;">
                    <button type="button" class="filters-button">
                        <svg class="filters-button__icon" width="16px" height="16px">
                            <use xlink:href=<%= asset_url("sprite.svg#filters-16") %>></use>
                        </svg>
                        <span class="filters-button__title">Filters<span>
                        <span class="filters-button__counter">3</span>
                    </button>
                </div>
         
                <div class="view-options__layout">
                    <div class="layout-switcher">
                        <div class="layout-switcher__list">
                            <button data-layout="grid-5-full" data-with-features="false" title="Grid" type="button"
                                    class="layout-switcher__button <%=  layout == 'grid' ? 'layout-switcher__button--active' : '' %>">
                                <svg width="16px" height="16px">
                                    <use xlink:href=<%= asset_url("sprite.svg#layout-grid-16x16") %>></use>
                                </svg>
                                <span class="fake-svg-icon"></span>
                            </button>
                            <button data-layout="grid-3-sidebar" data-with-features="true" title="Grid With Features" type="button"
                                    class="layout-switcher__button <%=  layout == 'grid-with-features' ? 'layout-switcher__button--active' : '' %>">
                                <svg width="16px" height="16px">
                                    <use xlink:href=<%= asset_url("sprite.svg#layout-grid-with-details-16x16") %>></use>
                                </svg>
                                <span class="fake-svg-icon"></span>
                            </button>
                            <button data-layout="list" data-with-features="false" title="List" type="button"
                                    class="layout-switcher__button <%=  layout == 'list' ? 'layout-switcher__button--active' : '' %>">
                                <svg width="16px" height="16px">
                                    <use xlink:href=<%= asset_url("sprite.svg#layout-list-16x16") %>></use>
                                </svg>
                                <span class="fake-svg-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            <% end %>
            <% if @products.present? %>
                <div class="view-options__legend">Showing <%=  @products.count %> products</div>
                <div class="view-options__divider"></div>
                <div class="view-options__control" style="display: none;">
                    <label for="">Sort By</label>
                    <div>
                        <select class="form-control form-control-sm" name="" id="">
                            <option value="">Default</option>
                            <option value="">Name (A-Z)</option>
                        </select>
                    </div>
                </div>
                <div class="view-options__control" style="display: none;">
                    <label for="">Show</label>
                    <div>
                        <select class="form-control form-control-sm" name="" id="">
                            <option value="">12</option>
                            <option value="">24</option>
                        </select>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="products-view__list products-list"
         data-layout="grid-5-full"
         data-with-features="true"
         data-mobile-grid-columns="2"
    >
        <div class="products-list__body">

            <% @products.each_with_index do |product, index| %>
                <div id="product_<%= product.id %>" class="products-list__item">
                    <%= render 'spree/products/product', product: product, image_class: 'product-component-plp-image', layout: layout %>
                </div>
            <% end %>
    

        </div>
    </div>

    <% if @products.respond_to?(:total_pages) %>
        <div class="row pl-md-4 pl-sm-4">
        <div class="col-12">
            <div class="plp-pagination d-none d-lg-flex">
            <%= paginate @products, window: 2, theme: 'twitter-bootstrap-4' %>
            </div>

            <div class="plp-pagination d-lg-none">
            <%= paginate @products, window: 1, theme: 'twitter-bootstrap-4' %>
            </div>
        </div>
        </div>
    <% end %>
</div>
