<div class="block-slideshow block-slideshow--layout--<%= @_layout %> block" style="margin-top: 0px;">
    <div class="container-fluis">
        <div class="row">
            <% if @_layout!='full' %>
                <div class="col-lg-3 d-none d-lg-block"></div>
            <% end %>
            <div class="col-12 <%= @_layout!='full' ? 'col-lg-9' : '' %>">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                    
                     <% spree_navigation_data[0][:promo_banners].each do |pb| %>   
                        <a xx class="block-slideshow__slide" href=<%= pb[:url] %>>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('<%= pb[:image] %>'); background-size: cover;margin-top: 0px;"></div>

                            <div aa class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url(' <%= pb[:image] %> ')"></div>
                            <div class="block-slideshow__slide-content">
                                <div class="block-slideshow__slide-title"><%= pb[:title] %></div>
                                <div class="block-slideshow__slide-text"><%= pb[:subtitle] %></div>
                                <div class="block-slideshow__slide-button">
                                    <span class="btn btn-primary btn-lg">Shop Now</span>
                                </div>
                            </div>
                        </a>
                     <% end %>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>