<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="format-detection" content="telephone=no">
<meta name="turbolinks-visit-control" content="reload">
<%== meta_image_data_tag %>
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<!--<%= stylesheet_link_tag 'application', media: 'screen', 'data-turbolinks-track': 'reload' %>-->
<%= stylesheet_link_tag 'green', media: 'screen', 'data-turbolinks-track': 'reload' %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
<!-- css -->
<%= javascript_include_tag 'vendor', defer: true, 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'spree/frontend/all', defer: true, 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

<%= yield :head %>
