<div class="site-header__nav-panel">
    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
    <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
        <div class="nav-panel__container container">
            <div class="nav-panel__row">
                <div class="nav-panel__departments">
                    <% if  @@header_layout != 'default' %>
                        <div class="nav-panel__logo">
                            <% path = spree.respond_to?(:root_path) ? spree.root_path : main_app.root_path%>
                            <%=link_to path, 'aria-label': current_store.name, class: 'logo' do
                                        image_tag(Spree::Config[:logo], height: '45', class: 'logo')
                                end
                            %>
                        </div>
                    <% end %>
                    <!-- .departments -->
                    <% if  @@header_layout== 'default' %>
                        <%= render 'spree/shared/departments' %>
                    <% end %>
                    <!-- .departments / end -->
                </div>
                <!-- .nav-links   -->
                <%= render 'spree/shared/nav_links' %>
                <!-- .nav-links / end -->
                <div class="nav-panel__indicators">
                    <% if  @@header_layout != 'default' %>
                        <div class="indicator indicator--trigger--click">
                            <button type="button" class="indicator__button">
                                <span class="indicator__area">
                                    <svg class="indicator__icon" width="20px" height="20px"><use xlink:href=<%= asset_url("sprite.svg#search-20") %>></use></svg>
                                    <svg class="indicator__icon indicator__icon--open" width="20px" height="20px"><use xlink:href=<%= asset_url("sprite.svg#cross-20") %>></use></svg>
                                </span>
                            </button>

                            <div class="indicator__dropdown">
                                 <%= render 'spree/shared/search_compact' %>
                            </div>
                        </div>
                    <% end %>               
                    <div class="indicator"  style="display: none;">
                        <a href="wishlist.html" class="indicator__button">
                            <span class="indicator__area">
                                <svg width="20px" height="20px">
                                    <use xlink:href=<%= asset_url("sprite.svg#heart-20") %> ></use>
                                </svg>
                                <span class="indicator__value">0</span>
                            </span>
                        </a>
                    </div>
                    <div class="indicator ">
                        <% @cart_style = 'dropdown' %>
                        <div aa class="indicator<%=  @cart_style != 'offcanvas' ? ' indicator--trigger--click' : '' %> ">
                            <a href=<%= spree.cart_path %> class="indicator__button"<% @cart_style == 'offcanvas' ?  'data-open="offcanvas-cart"' : ''  %> >
                                <span class="indicator__area">
                                <svg width="20px" height="20px">
                                    <use xlink:href=<%= asset_url("sprite.svg#cart-20") %> ></use>
                                </svg>                                    
                                <span class="indicator__value"><%= Spree::Order.all.last.products.size.to_s  %></span>
                                </span>

                            <% if @cart_style != 'offcanvas' %>
                                <div class="indicator__dropdown">
                                    <%= render partial: 'spree/shared/dropcart', locals: {style: @cart_style} %>
                                </div>
                            <% end %>
                        </div>


                    </div>
                    <div class="indicator indicator--trigger--click">
                        <%= link_to spree_login_path, class: "indicator__button"  do %>
                            <span class="indicator__area">
                                <svg width="20px" height="20px">
                                    <use xlink:href=<%= asset_url("sprite.svg#person-20") %> ></use>
                                </svg>
                            </span>
                        <% end %>
    
                        <div class="indicator__dropdown">
                            <div class="account-menu">
                             <% if !try_spree_current_user %>
                                    <%= form_for Spree.user_class.new, as: :spree_user, url: spree_login_path, html: {class: "account-menu__form"} do |f| %>
                                
                                        <div class="account-menu__form-title"><%= Spree.t('nav_bar.log_in_to_continue') %></div>
                                        <div class="form-group">
                                            <label for="header-signin-email" class="sr-only"><%= Spree.t(:email) %></label>
                                            <%= f.email_field :email, class: 'form-control form-control-sm', placeholder: Spree.t(:email), autofocus: true, id: "header-signin-email" %>                                       
                                        </div>
                                        <div class="form-group">
                                            <label for="header-signin-password" class="sr-only"><%= Spree.t(:password) %></label>
                                            <div class="account-menu__form-forgot">
                                                <%= f.password_field :password, class: 'form-control form-control-sm', placeholder: Spree.t(:password), autofocus: true, id: "header-signin-password" %>
                                                <%= link_to Spree.t(:forgot_password), spree.recover_password_path, class: "account-menu__form-forgot-link" %>
                                            </div>
                                        </div>
                                        <div class="form-group account-menu__form-button">
                                            <%= f.submit Spree.t('nav_bar.log_in'), class: 'btn btn-primary btn-sm' %>
                                        </div>
                                        <div class="account-menu__form-link">
                                            <%= link_to Spree.t('nav_bar.sign_up'), spree_signup_path if defined?(spree_signup_path) %>                                    
                                        </div>
                                    <% end %>
                                <% else %>
                                    <div class="account-menu__divider"></div>
                                    <a href=<%= spree.account_path %>  class="account-menu__user">
                                        <div class="account-menu__user-avatar">
                                            <img src=<%= asset_url('avatars/avatar-3.jpg') %> alt="">
                                        </div>
                                        <div class="account-menu__user-info">
                                            <div class="account-menu__user-name"><%= try_spree_current_user.login if try_spree_current_user  %></div>
                                            <div class="account-menu__user-email"><%= try_spree_current_user.email if try_spree_current_user %></div>
                                        </div>
                                    </a>
                                    <div class="account-menu__divider"></div>
                                    <ul class="account-menu__links">
                                        <li>
                                            <% link_to  spree.edit_user_path(try_spree_current_user) do %>
                                                <%= inline_svg_tag 'edit.svg', class: "account-page-user-info-item-title-edit-img" %>
                                            <% end %>
                                        </li>
                                        <li><%= link_to Spree.t(:cart), spree.cart_path  %></li>

                                        <li>
                                            <% link_to  spree.edit_user_path(try_spree_current_user) do %>
                                                <%= inline_svg_tag 'edit.svg', class: "account-page-user-info-item-title-edit-img" %>
                                            <% end %>
                                        </li>
                                    </ul>
                                    <div class="account-menu__divider"></div>
                                    <ul class="account-menu__links">
                                        <li>
                                            <%= link_to Spree.t('nav_bar.log_out'), spree_logout_path, method: :get if defined?(spree_logout_path) %>                                                                            
                                        </li>
                                    </ul>
                                </div>
                             <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>