<div class="site-header__nav-panel">
    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
    <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
        <div class="nav-panel__container container">
            <div class="nav-panel__row">
                <div class="nav-panel__departments">
                    <!-- .departments -->
                    <div class="departments  departments--open departments--fixed " data-departments-fixed-by=".block-slideshow">
                        <div class="departments__body">
                            <div class="departments__links-wrapper">
                                <div class="departments__submenus-container"></div>
                                <ul class="departments__links">
                                      <% spree_navigation_data.each do |root| %>       
                                        <li class="departments__item">  
                                            <% 
                                                html_item = root[:title]
                                                if root[:items].present?
                                                    html_item = (root[:title] + '<svg class="departments__item-arrow" width="6px" height="9px">
                                                    <use xlink:href="assets/sprite.svg#arrow-rounded-right-6x9"></use>
                                                    </svg>').html_safe 
                                                end                                                    
                                                %>
                                              <%= link_to html_item, root[:url], class: "departments__item-link" %> 
                                            <% if root[:items].present? %> 
                                                <div class="departments__submenu departments__submenu--type--megamenu departments__submenu--size--xl">
                                                <!-- .megamenu -->
                                                    <div class="megamenu  megamenu--departments ">
                                                   <!-- <%= root[:promo_banners][0] %> -->
                                                        <div aaa class="megamenu__body" style="background-image: url('assets/megamenu/megamenu-1.jpg');">
                                                            <div class="row">
                                                                <% root[:items].each do |item| %>
                                                                    <div class="col-3">
                                                                        <ul class="megamenu__links megamenu__links--level--0">
                                                                            <li class="megamenu__item  megamenu__item--with-submenu ">
                                                                          
                                                                                <%= link_to item[:title], item[:url] %> 
                                                                              <!--    <ul class="megamenu__links megamenu__links--level--1">
                                                                                    <li class="megamenu__item"><a href="">Engravers</a></li>
                                                                                    <li class="megamenu__item"><a href="">Drills</a></li>
                                                                                    <li class="megamenu__item"><a href="">Wrenches</a></li>
                                                                                    <li class="megamenu__item"><a href="">Plumbing</a></li>
                                                                                    <li class="megamenu__item"><a href="">Wall Chaser</a></li>
                                                                                    <li class="megamenu__item"><a href="">Pneumatic Tools</a></li>
                                                                                    <li class="megamenu__item"><a href="">Milling Cutters</a></li>
                                                                                </ul>-->
                                                                            </li>
                                                                            <!-- <li class="megamenu__item ">
                                                                                <a href="">Workbenches</a>
                                                                            </li>
                                                                            <li class="megamenu__item ">
                                                                                <a href="">Presses</a>
                                                                            </li>
                                                                            <li class="megamenu__item ">
                                                                                <a href="">Spray Guns</a>
                                                                            </li>
                                                                            <li class="megamenu__item ">
                                                                                <a href="">Riveters</a>
                                                                            </li>-->
                                                                        </ul>
                                                                    </div>
                                                                <% end %>   

                                                                  <!-- <div class="col-3">
                                                                    <ul class="megamenu__links megamenu__links--level--0">
                                                                        <li class="megamenu__item  megamenu__item--with-submenu ">
                                                                            <a href="">Hand Tools</a>
                                                                            <ul class="megamenu__links megamenu__links--level--1">
                                                                                <li class="megamenu__item"><a href="">Screwdrivers</a></li>
                                                                                <li class="megamenu__item"><a href="">Handsaws</a></li>
                                                                                <li class="megamenu__item"><a href="">Knives</a></li>
                                                                                <li class="megamenu__item"><a href="">Axes</a></li>
                                                                                <li class="megamenu__item"><a href="">Multitools</a></li>
                                                                                <li class="megamenu__item"><a href="">Paint Tools</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="megamenu__item  megamenu__item--with-submenu ">
                                                                            <a href="">Garden Equipment</a>
                                                                            <ul class="megamenu__links megamenu__links--level--1">
                                                                                <li class="megamenu__item"><a href="">Motor Pumps</a></li>
                                                                                <li class="megamenu__item"><a href="">Chainsaws</a></li>
                                                                                <li class="megamenu__item"><a href="">Electric Saws</a></li>
                                                                                <li class="megamenu__item"><a href="">Brush Cutters</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-3">
                                                                    <ul class="megamenu__links megamenu__links--level--0">
                                                                        <li class="megamenu__item  megamenu__item--with-submenu ">
                                                                            <a href="">Machine Tools</a>
                                                                            <ul class="megamenu__links megamenu__links--level--1">
                                                                                <li class="megamenu__item"><a href="">Thread Cutting</a></li>
                                                                                <li class="megamenu__item"><a href="">Chip Blowers</a></li>
                                                                                <li class="megamenu__item"><a href="">Sharpening Machines</a></li>
                                                                                <li class="megamenu__item"><a href="">Pipe Cutters</a></li>
                                                                                <li class="megamenu__item"><a href="">Slotting machines</a></li>
                                                                                <li class="megamenu__item"><a href="">Lathes</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-3">
                                                                    <ul class="megamenu__links megamenu__links--level--0">
                                                                        <li class="megamenu__item  megamenu__item--with-submenu ">
                                                                            <a href="">Instruments</a>
                                                                            <ul class="megamenu__links megamenu__links--level--1">
                                                                                <li class="megamenu__item"><a href="">Welding Equipment</a></li>
                                                                                <li class="megamenu__item"><a href="">Power Tools</a></li>
                                                                                <li class="megamenu__item"><a href="">Hand Tools</a></li>
                                                                                <li class="megamenu__item"><a href="">Measuring Tool</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  .megamenu / end -->
                                                </div>
                                            <% end %>                                                                          
                                        </li>
                                      <% end %>
                                </ul>
                            </div>
                        </div>
                        <button class="departments__button">
                            <svg class="departments__button-icon" width="18px" height="14px">
                                <use xlink:href="assets/sprite.svg#menu-18x14"></use>
                            </svg>
                            Shop By Category
                            <svg class="departments__button-arrow" width="9px" height="6px">
                                <use xlink:href="assets/sprite.svg#arrow-rounded-down-9x6"></use>
                            </svg>
                        </button>
                    </div>
                    <!-- .departments / end -->
                </div>
                <!-- .nav-links   -->
                <div class="nav-panel__nav-links nav-links">
                    <ul class="nav-links__list">
                        <% spree_navigation_data.each do |root| %>   
                            <li class="nav-links__item  nav-links__item--has-submenu ">
                                <a class="nav-links__item-link" href="index.html">
                                    <div class="nav-links__item-body">
                                        <%= root[:title] %>
                                        <svg class="nav-links__item-arrow" width="9px" height="6px">
                                            <use xlink:href="assets/sprite.svg#arrow-rounded-down-9x6"></use>
                                        </svg>
                                    </div>
                                </a>
                                  <% if root[:items].present? %>                                    
                                        <div class="nav-links__submenu nav-links__submenu--type--menu">
                                            <!-- .menu -->
                                            <div class="menu menu--layout--classic ">
                                                <div class="menu__submenus-container"></div>
                                                <ul class="menu__list">
                                                <% root[:items].each do |item| %>   
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <%= link_to item[:title], item[:url], class: 'menu__item-link' %> 
                                                    </li>
                                                <% end %>
                                                </ul>
                                            </div>
                                            <!-- .menu / end -->
                                        </div>                                 
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <!-- .nav-links / end -->
                <div class="nav-panel__indicators">
                    <div class="indicator">
                        <a href="wishlist.html" class="indicator__button">
                            <span class="indicator__area">
                                <svg width="20px" height="20px">
                                    <use xlink:href="assets/sprite.svg#heart-20"></use>
                                </svg>
                                <span class="indicator__value">0</span>
                            </span>
                        </a>
                    </div>
                    <div class="indicator indicator--trigger--click">
                        <a href="cart.html" class="indicator__button">
                            <span class="indicator__area">
                                <svg width="20px" height="20px">
                                    <use xlink:href="assets/sprite.svg#cart-20"></use>
                                </svg>
                                <span class="indicator__value">3</span>
                            </span>
                        </a>
                        <div class="indicator__dropdown">
                            <!-- .dropcart -->
                            <div class="dropcart dropcart--style--dropdown">
                                <div class="dropcart__body">
                                    <div class="dropcart__products-list">
                                        <div class="dropcart__product">
                                            <div class="product-image dropcart__product-image">
                                                <a href="product.html" class="product-image__body">
                                                    <img class="product-image__img" src="assets/products/product-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="dropcart__product-info">
                                                <div class="dropcart__product-name"><a href="product.html">Electric Planer Brandix KL370090G 300 Watts</a></div>
                                                <ul class="dropcart__product-options">
                                                    <li>Color: Yellow</li>
                                                    <li>Material: Aluminium</li>
                                                </ul>
                                                <div class="dropcart__product-meta">
                                                    <span class="dropcart__product-quantity">2</span> ×
                                                    <span class="dropcart__product-price">$699.00</span>
                                                </div>
                                            </div>
                                            <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                <svg width="10px" height="10px">
                                                    <use xlink:href="assets/sprite.svg#cross-10"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="dropcart__product">
                                            <div class="product-image dropcart__product-image">
                                                <a href="product.html" class="product-image__body">
                                                    <img class="product-image__img" src="assets/products/product-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="dropcart__product-info">
                                                <div class="dropcart__product-name"><a href="product.html">Undefined Tool IRadix DPS3000SY 2700 watts</a></div>
                                                <div class="dropcart__product-meta">
                                                    <span class="dropcart__product-quantity">1</span> ×
                                                    <span class="dropcart__product-price">$849.00</span>
                                                </div>
                                            </div>
                                            <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                <svg width="10px" height="10px">
                                                    <use xlink:href="assets/sprite.svg#cross-10"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="dropcart__product">
                                            <div class="product-image dropcart__product-image">
                                                <a href="product.html" class="product-image__body">
                                                    <img class="product-image__img" src="assets/products/product-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="dropcart__product-info">
                                                <div class="dropcart__product-name"><a href="product.html">Brandix Router Power Tool 2017ERXPK</a></div>
                                                <ul class="dropcart__product-options">
                                                    <li>Color: True Red</li>
                                                </ul>
                                                <div class="dropcart__product-meta">
                                                    <span class="dropcart__product-quantity">3</span> ×
                                                    <span class="dropcart__product-price">$1,210.00</span>
                                                </div>
                                            </div>
                                            <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                <svg width="10px" height="10px">
                                                    <use xlink:href="assets/sprite.svg#cross-10"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="dropcart__totals">
                                        <table>
                                            <tr>
                                                <th>Subtotal</th>
                                                <td>$5,877.00</td>
                                            </tr>
                                            <tr>
                                                <th>Shipping</th>
                                                <td>$25.00</td>
                                            </tr>
                                            <tr>
                                                <th>Tax</th>
                                                <td>$0.00</td>
                                            </tr>
                                            <tr>
                                                <th>Total</th>
                                                <td>$5,902.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dropcart__buttons">
                                        <a class="btn btn-secondary" href="cart.html">View Cart</a>
                                        <a class="btn btn-primary" href="checkout.html">Checkout</a>
                                    </div>
                                </div>
                            </div>
                            <!-- .dropcart / end -->
                        </div>
                    </div>
                    <div class="indicator indicator--trigger--click">
                        <a href="account-login.html" class="indicator__button">
                            <span class="indicator__area">
                                <svg width="20px" height="20px">
                                    <use xlink:href="assets/sprite.svg#person-20"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="indicator__dropdown">
                            <div class="account-menu">
                                <form class="account-menu__form">
                                    <div class="account-menu__form-title">Log In to Your Account</div>
                                    <div class="form-group">
                                        <label for="header-signin-email" class="sr-only">Email address</label>
                                        <input id="header-signin-email" type="email" class="form-control form-control-sm" placeholder="Email address">
                                    </div>
                                    <div class="form-group">
                                        <label for="header-signin-password" class="sr-only">Password</label>
                                        <div class="account-menu__form-forgot">
                                            <input id="header-signin-password" type="password" class="form-control form-control-sm" placeholder="Password">
                                            <a href="" class="account-menu__form-forgot-link">Forgot?</a>
                                        </div>
                                    </div>
                                    <div class="form-group account-menu__form-button">
                                        <button type="submit" class="btn btn-primary btn-sm">Login</button>
                                    </div>
                                    <div class="account-menu__form-link"><a href="account-login.html">Create An Account</a></div>
                                </form>
                                <div class="account-menu__divider"></div>
                                <a href="account-dashboard.html" class="account-menu__user">
                                    <div class="account-menu__user-avatar">
                                        <img src="assets/avatars/avatar-3.jpg" alt="">
                                    </div>
                                    <div class="account-menu__user-info">
                                        <div class="account-menu__user-name">Helena Garcia</div>
                                        <div class="account-menu__user-email">stroyka@example.com</div>
                                    </div>
                                </a>
                                <div class="account-menu__divider"></div>
                                <ul class="account-menu__links">
                                    <li><a href="account-profile.html">Edit Profile</a></li>
                                    <li><a href="account-orders.html">Order History</a></li>
                                    <li><a href="account-addresses.html">Addresses</a></li>
                                    <li><a href="account-password.html">Password</a></li>
                                </ul>
                                <div class="account-menu__divider"></div>
                                <ul class="account-menu__links">
                                    <li><a href="account-login.html">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>