
<% @level = 0 %>


<div class="mobilemenu">
    <div class="mobilemenu__backdrop"></div>
    <div class="mobilemenu__body">
        <div class="mobilemenu__header">
            <div class="mobilemenu__title">Menu</div>
            <button ccc type="button" class="mobilemenu__close">                
                <svg width="20px" height="20px">
                    <use xlink:href=<%= asset_url('sprite.svg#cross-20') %> ></use>
                </svg>
            </button>
        </div>
        <div class="mobilemenu__content">
            <ul class="mobile-links mobile-links--level--<%= @level %>" <%= @level == 0 ? 'data-collapse data-collapse-opened-class="mobile-links__item--open"' : ''  %> >
                <% data_navigation.each do |root| %>   
                    <li class="mobile-links__item" data-collapse-item>
                        <a class="mobile-links__item-link" href=<%= root[:url] %>>
                            <div class="nav-links__item-body">
                                <%= root[:title] %>
                                <% if root[:items].present? %>
                                    <button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
                                        <svg class="mobile-links__item-arrow" width="12px" height="7px"><use xlink:href=<%= asset_url("sprite.svg#arrow-rounded-down-9x6") %> ></use></svg>
                                    </button>
                                <% end %>
                            </div>
                        </a>
                            <% if root[:items].present? %>                                    
                                <div class="mobile-links__item-sub-links" data-collapse-content>
                                    <!-- .menu -->
                                    <%= render partial: 'spree/shared/mobilemenu', data_navigation: root[:items], level: @level+1 %>
                                    <!-- .menu / end -->
                                </div>                                 
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>