<% @body_id = 'home' %>
<% @image_postfix = '' %>
<% 
    if @@header_layout=='compact' 
        @image_postfix = '-full' 
        @_layout = 'full'
    end    
    if @@header_layout=='default' 
        @image_postfix = '-full' 
        @_layout = 'with-departments'
    end        
%>
<div class="site__body">
    <!-- .block-slideshow -->
    <%= render partial: 'spree/shared/blocks/block_slideshow' %>
    <!-- .block-slideshow / end -->
    <!-- .block-banner -->
    <%= render partial: 'spree/shared/blocks/block_banner' %>
    <!-- .block-banner / end -->

    <!-- .block-features -->
    <%= render partial: 'spree/shared/blocks/block_features' %>
    <!-- .block-features / end -->
    <!-- .block-products-carousel -->
    <%= render partial: 'spree/shared/blocks/block_products_carousel' %>
    <!-- .block-products-carousel / end -->


    <!-- .block-products -->
    <%#= render partial: 'spree/shared/blocks/block_products' %>
    <!-- .block-products / end -->
    <!-- .block-categories -->
    <%#= render partial: 'spree/shared/blocks/block_categories' %>
    <!-- .block-categories / end -->
    <!-- .block-products-carousel -->

    <!-- .block-products-carousel / end -->
    <!-- .block-posts -->
    <%= render partial: 'spree/shared/blocks/block_posts' %>

    <!-- .block-posts / end -->
    <!-- .block-brands -->
    <%#= render partial: 'spree/shared/blocks/block_brands' %>
    <!-- .block-brands / end -->
    <!-- .block-product-columns -->
    <%#= render partial: 'spree/shared/blocks/block_product_columns' %>
    <!-- .block-product-columns / end -->
</div>